<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_solar_business" name="Business management"/>
    <menuitem id="menu_employee" name="Employee" parent="menu_solar_business" action="action_solar_employee" sequence="1"/>
    <menuitem id="menu_customer" name="Customer" action="action_customer" parent="menu_solar_business" sequence="2"/>
    <menuitem id="menu_solar_panel" name="Solar Panel" action="action_solar_panel" parent="menu_solar_business" sequence="3"/>
</odoo>