<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_solar" name="SolarHub"/>
    <menuitem id="menu_solar_business" name="Business management" parent="menu_solar" sequence="1"/>
    <menuitem id="menu_system" name="System Configuration" parent="menu_solar" sequence="2"/>
    <menuitem id="menu_employee" name="Employee" parent="menu_solar_business" action="action_solar_employee"
              sequence="1"/>
    <menuitem id="menu_customer" name="Customer" action="action_customer" parent="menu_solar_business" sequence="2"/>
    <menuitem id="menu_solar_panel" name="Solar Panel" action="action_solar_panel" parent="menu_solar_business"
              sequence="3"/>
    <menuitem id="menu_solar_battery" name="Battery" action="action_solar_battery" parent="menu_solar_business"
              sequence="4"/>
    <menuitem id="menu_inverter" name="Inverter" action="action_inverter" parent="menu_solar_business" sequence="5"/>
    <menuitem id="menu_contact_diary" name="Contact Diary" action="action_solar_contact" parent="menu_solar_business" sequence="6"/>
    <menuitem id="menu_solar_notice" name="Notice Board" action="action_solar_notice" parent="menu_solar_business" sequence="7"/>
    <menuitem id="menu_solarhub_order" name="Order" action="action_solarhub_order" parent="menu_solar_business"
              sequence="6"/>
    <menuitem id="menu_solar_inspection" name="Inspection" action="action_inspection" parent="menu_solar_business" sequence="8"/>
    <!--    #groups="solarhub.group_solarhub"-->
    <menuitem id="menu_solar_maintenance" name="Maintenance" action="action_solar_maintenance" parent="menu_solar_business"
              sequence="7"/>

    <menuitem id="menu_system_service" name="Service Type" action="action_system_service" parent="menu_system"/>
    <menuitem id="menu_system_property" name="Property Type" action="action_system_property" parent="menu_system"/>
    <menuitem id="menu_system_assurance" name="Assurance Type" action="action_system_assurance" parent="menu_system"/>
    <menuitem id="menu_system_assurance_subtype" name="Assurance SubType" action="action_system_assurance_subtype"
              parent="menu_system"/>
    <menuitem id="menu_system_tax" name="Item Tax" action="action_system_tax" parent="menu_system"/>

    <menuitem id="menu_solar_order" name="Order" action="action_order_solars" parent="menu_solar" sequence="3"/>

</odoo>